body {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
    background: #fff;
    margin: 0;
}


#main-header {
    height: 1350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
    width: 100%;
    background-image: url('images/welcome_photo.jpg');
}

#main-header div {
    text-align: center;
    text-align:center;
    line-height:700px;
    width:100%;
    height:700px
}

#main-header h1 {
    margin-bottom: 0px;
    font-size: 100px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Sacramento", Arial, serif;
    margin: 0;
    padding: 0;
    padding-top: 375px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
    width: 100%;
}

.section h2 {
    margin-bottom: 10x;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Sacramento", Arial, serif;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.section .spacer {
    height: 100px;
}

#events .container {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#flags .container {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#flags .box {
    max-width: 450px;
    min-height: 1px;
    padding: 30px;
    margin: 15px;
    flex: 1;
}


#events .box {
    border: 2px solid rgba(255, 255, 255, 0.5);
    max-width: 450px;

    min-height: 1px;
    padding: 30px;
    margin: 15px;
    background-color: rgba(255,255,255,0.05);
    flex: 1;
}

#events .box h3 {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 20px 0;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-transform: uppercase;

    display: block;
    letter-spacing: 2px;
    opacity:initial;
}

#events .event {
    width: 50%;
    float: left;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
}

#events .event span {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    margin-top: 10px;
}

#events p {
    color: white;
}

#events address {
    color: white;
    margin-bottom: 20px;
}

#events span {
    display: block
}

#events .map {
    width: 75%;
    height: 200px;
}

#accommodation .container {
    /* border: 2px solid yellow; */
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    justify-content: center;
}

#accommodation .course {
    /* border: 2px solid red; */
    width: 60%;
    margin-bottom: 40px;
    text-align: left;
    /* display: flex; */
    /* justify-content: center; */
    display: inline-block
}

#accommodation ol {
    color: white;

    li {
        /* list-style: none; */
        position: relative;
    }
}

#accommodation h3 {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 20px 0;
    color: white;
    padding-bottom: 20px;
    text-transform: uppercase;

    display: block;
    letter-spacing: 2px;
    opacity:initial;
}

#contact {
    flex: 1;
    color: black;
}

#contact .container {
    /* border: 2px solid yellow; */
    /* width: 100px; */
    /* vertical-align: middle; */
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white
}

#contact .box {
    max-width: 450px;
    padding: 30px;
    margin: 15px;
    flex: 1;
}

#contact ul {
    text-align: left;
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        position: relative;
        &.phone {
            &:before {
                font-size: 23px;
                font-family: 'icomoon';
                content: "\e9f4";
                padding-right: 20px;
            }
        }
        &.email {
            &:before {
                font-size: 23px;
                font-family: 'icomoon';
                content: "\e9da";
                padding-right: 20px;
            }
        }
    }
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?6iuir');
    src:  url('../fonts/icomoon/icomoon.eot?6iuir#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.ttf?6iuir') format('truetype'),
      url('../fonts/icomoon/icomoon.woff?6iuir') format('woff'),
      url('../fonts/icomoon/icomoon.svg?6iuir#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-clock:before {
    content: "\e014";
}
.icon-calendar:before {
    content: "\e979";
}